#map {
  margin-top: 30px;
  height: 800px;
}
.container {
  width: 100%; 
  text-align: center; 
}
.right-side {
  float:right; 
  width: 40%; 
  max-height: 800px;
}
.left-side {
  float:left;
  width: 60%;
}
div.scroll {
  width: 90%;
  min-height: 50%;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,116,121,1) 25%, rgba(0,212,255,1) 50%);
}
h1 {
  color: azure;
}
h2 {
  color: azure;
}
h3 {
  color: white;
}
h4 {
  color: azure;
}