body {
  margin: auto;
  max-width: 55em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5em;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,116,121,1) 25%, rgba(0,212,255,1) 50%); 
}
nav li {
  display: inline-block;
  padding: 0.5em;
  margin-top: 9em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  position: relative;
}

.page-title {
  font-size: 2em;
  padding-bottom: 0;
  padding-left: 2em;
  padding-top: 3em;
  margin-top: 0em;
  position: absolute;
}

.top-page {
  background: rgba(0,212,255,0.2);
  border-radius: 1em;
  height: 17em;
  margin-top: 0;
  position: relative;
}
hr {
  width: 30%;
}
h1 {
  text-align: center;
  color:azure
}
h2 {
  text-align: center;
  color:azure
}
h3 {
  text-align: center;
  color: azure;
}
h4 {
  text-align: center;
}
ul {
  text-align: center;
}
.center {
  margin: auto;
  text-align: center;
}
.background {
  background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(9,116,121,1) 5%, rgba(0,210,250,0.95) 50%);
  color: black;
  border-radius: 1em;
}
.background:hover {
  background: rgba(0,212,255,1);
  color: black;
  border-radius: 1em;
}
button {
  background: rgba(255,116,121,0.7);
  color: azure;
  border-radius: 0.5em;
  border-width: 0.1em;
  text-align: center;
}
main {
  margin-bottom: 2em;
}
.grid {
  display: grid;
  grid-template-columns: 1em 10em;
  grid-row-gap: .1em;
  grid-column-gap: 1em;
}
.grid-container {
  padding-left: 40%;
}