<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus</title>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async src="{{ url }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="/static/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    
  </head>
  <body>
    <h1>Map</h1>
    
    <div style="width: 100%; text-align: center;">
      <div id="map" style="float:left; width: 60%; height: 530px;">
      </div>
      <div class="right-side" style="float:right; width: 40%; background-color: whitesmoke;">
        <h1>Ravintolasovellus</h1>
        <a href="/new">Lisää ravintola</a>
        <hr>
        <div class="scroll">
          {% for r in restaurants %}
          <h4>{{ r.name }}</h4>
          Rating: {{r.rating}} <br>
          Lisätty: {{ r.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
          <a href="/review/{{ r.id }}">Arvostele ravintola</a> |
          <a href="/result/{{ r.id }}">Näytä arvostelut</a> <br>
          <a href="/map/{{ r.city }}/{{ r.street }}">Katso kartalla</a>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
   <div style="clear:both"></div>
    

  </body>
</html>