<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolat | etusivu</title>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async src="{{ url }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="/static/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="static/index.css" />
  </head>

  <body>
    <div class="container">
      <div class="left-side">
        <div id="map"></div>
        <div id="bottom"></div>
      </div>
      <div class="right-side">
        <h1 style="font-size: 4em">Ravintolasovellus</h1>

        {% if session.username %}
        <a href="/new">Lisää ravintola</a> | 
        <a href="/logout">Kirjaudu ulos</a> | 
        {% else %}
        <a href="/new">Lisää ravintola</a> | 
        <a href="/login_page">Kirjautuminen</a> | 
        <a href="/register_page">Luo käyttäjä</a>
        {% endif %}
        <hr>

        <div class="scroll">
          {% for r in restaurants %}
          <h1>{{ r.name }}</h1>
           <h2>{{r.rating}}</h2>
          <a href="/review/{{ r.id }}"> Arvostele ravintola</a> |
          <a href="/result/{{ r.id }}"> Näytä arvostelut</a> <br>
          <a href="/restaurant/{{ r.id }}"> Katso tiedot</a> |
          <a href="/delete_restaurant/{{ r.id }}"> Poista</a> <br>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
   <div style="clear:both"></div>
  </body>
</html>