<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus</title>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async src="{{ url }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="/static/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    
  </head>
  <body>
    <div class="top">
      <div class="left-side">
        <div id="map"></div>
        <div id="bottom"></div>
      </div>
      <div class="right-side">
        <h1>Ravintolasovellus</h1>
        <a href="/new">Lisää ravintola</a>
        <hr>
        <div class="scroll">
          {% for r in restaurants %}
          <h3>{{ r.name }}</h3>
           <h4>{{r.rating}}</h4>
          <a href="/review/{{ r.id }}"> Arvostele ravintola</a> |
          <a href="/result/{{ r.id }}"> Näytä arvostelut</a> <br>
          <a href="/restaurant/{{ r.id }}"> Katso tiedot</a> |
          <a href="/delete/{{ r.id }}"> Poista</a> <br>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
   <div style="clear:both"></div>
   
    

  </body>
</html>