<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolat | {% block title %}{% endblock %}</title>
    <script type="text/javascript"> {% block script %} {% endblock %} </script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="top-page">
      <div class="page-title">
        <h1>{% block page_title %}{% endblock %}</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li> <a href="/login_page">Kirjautuminen</a></li>
          <li> <a href="/search_page">Hakusivu</a></li>
          <li>{% block navigation_link %} {% endblock %}</li>
        </ul>
      </nav>
    </div>
    
    <hr>
    <main>
      {% block content %}{% endblock %}
    </main>
  
  </body>
</html>