{% extends "layout.html" %}
{% block title %}Lisää ravintola{% endblock %}
{% block page_title %}Lisää ravintola{% endblock %}
{% block content %}
<div clas="center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="center">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
      <hr>
    {% endif %}
  {% endwith %}
  
  <form class="center" action="/create" method="POST">
      <p>Ravintolan nimi:<br>
        <input type="text" name="name">
      </p>
      <p>
        Osoite:<br>
        <input type="text" placeholder="Kanavaranta 7" name="street"> <br>
        <input type="text" placeholder="Helsinki" name="city">
      </p>
      <input type="submit" value="Lisää ravintola"> <br><br>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <a href="/" >Takaisin</a>
  </form>
</div>
{% endblock content %}