{% extends "layout.html.j2" %}
{% block title %}Lisää ravintola{% endblock %}
{% block page_title %}Lisää ravintola{% endblock %}
{% block content %}
<div clas="center">
  <form class="center" action="/create" method="POST">
      <p>Ravintolan nimi:<br>
        <input type="text" name="name">
      </p>
      <p>
        Osoite:<br>
        <input type="text" placeholder="Kanavaranta 7" name="street"> <br>
        <input type="text" placeholder="Helsinki" name="city">
      </p>
      <input type="submit" value="Lisää ravintola"> <br><br>
      <a href="/" >Takaisin</a>
  </form>
</div>
{% endblock content %}