{% extends "layout.html.j2" %}
{% block title %}Arvostele{% endblock %}
{% block page_title %}{{ name }}{% endblock %}
{% block content %}

<form class="center" action="/answer" method="POST">
  {% for c in categories %}
    <p>{{ c.category }} <br>
      <input type="radio" name="{{ c.id }}" value="1">
      <input type="radio" name="{{ c.id }}" value="2">
      <input type="radio" name="{{ c.id }}" value="3">
      <input type="radio" name="{{ c.id }}" value="4">
      <input type="radio" name="{{ c.id }}" value="5">
    </p>
  {% endfor %}
    <p>Arvostelu: <br>
    <textarea name="review" rows="3" cols="50"></textarea></p>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="id" value="{{ id }}">
</form>
<hr>

{% endblock %}