{% extends "layout.html.j2" %}
{% block title %}Haku{% endblock%}
{% block page_title %}Etsi ravintola{% endblock%}

{% block content %}
<div>
  <div class="left-side">
  <div class="scroll"></div>
  </div>
  <div class="right-side">
    
  </div>
</div>

{% endblock %}