<!DOCTYPE html>
<html>
  <head>
    <script>
      console.log("In script")
      function hide() {
        console.log("in func")
        document.getElementById("input_list").style.display="none";
      }
    </script>
  </head>

  <body style="text-align: center;">
    <h1>Tiedot päivitetty</h1>
    <div id="input_list">
      Syötetty oikein:
      <ul>
        {% for key in correct_input.keys() %}
        <li>{{ key }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {% if not "id" in correct_input.keys() %}
      Ravintolaa, jonka tietoja päivitit ei löytynyt
      <script>
        hide()
      </script>
    {% endif %}
    </div> <br>
    <a href="/">Etusivulle</a>
    <a href="/restaurant/{{ id }}">Takaisin</a>
  </body>
</html>