{% extends "layout.html" %}
{% block title %}Vastaus{% endblock %}
{% block script %}
function hide() {
    document.getElementById("input_list").style.display="none";
  }
{% endblock %}
{% block page_title %}Tiedot päivitetty{% endblock %}
{% block content %}

<div class="center">
  Virheet:
  <ul>
    {% for err in errors %}
      <li>{{ err }}</li>
    {% endfor %}
  </ul>
  <a href="/restaurant/{{ id }}">Takaisin</a>
</div>
<div class="center">
  {% if not "id" in correct_input.keys() %}
    <hr>
    Ravintolaa, jonka tietoja päivitit ei löytynyt
    <script>
      hide()
    </script>
  {% endif %}
</div> <br>

{% endblock %}
